<!-- テンプレート -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          
          <!-- 変更点① -->
          <key>url</key>
          <string>
          https://skuro709.github.io/ipa-install/apps/ksign/ksign.ipa
          </string>
          
        </dict>
      </array>
      <key>metadata</key>
      <dict>
      
      <!-- 変更点② -->
        <key>bundle-identifier</key>
        <string>
        com.asami.ksign
        </string>
        
        <!-- 変更点③ -->
        <key>bundle-version</key>
        <string>
        1.5.1
        </string>

        <key>kind</key>
        <string>software</string>
        
        <!-- 変更点④ -->
        <key>title</key>
        <string>
        Ksign
        </string>
        
      </dict>
    </dict>
  </array>
</dict>
</plist>
